@using System.Web.Mvc;

<div class="user-display">
    @if (WorkContext.CurrentUser != null) {
    <li class="dropdown first menuUserName">
        <a href="#">@Html.ItemDisplayText(WorkContext.CurrentUser)</a>
        <ul>

            <li>
                @Html.ActionLink(T("Change Password").ToString(), "ChangePassword", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl }, new { rel = "nofollow" })
            </li>
            <li>
                @Html.ActionLink(T("Sign Out").ToString(), "LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl }, new { rel = "nofollow" })
            </li>
            <li>
                @Html.ActionLink(T("Profile").ToString(), "Edit", new { Controller = "Members", Area = "WAA"}, new { rel = "nofollow" })
            </li>
            <li>
                @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel)) {
                @Html.ActionLink(T("Dashboard").ToString(), "Index", new {Area = "Dashboard", Controller = "Admin"})
                }
            </li>
        </ul>
    </li>
    } else {
        <span class="user-actions">@Html.ActionLink(T("Login/Register").ToString(), "LogOn", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = (Request.QueryString["ReturnUrl"] ?? Request.RawUrl) }, new { rel = "nofollow" })</span>
    }
</div>